html,
body {
  background-image: linear-gradient(
    to right,
    rgb(151, 29, 29),
    rgb(100, 95, 95)
  );
  background-size: cover;
}

#calender-container {
  display: flex;
  justify-content: center;
  width: 75%;
  border: 1px solid black;
}
